doctype html
html
head
  link(rel="stylesheet" href="/css/bootstrap.min.css")
  link(rel="stylesheet" href="/css/style.css")
body
  .container
    .col-lg-12.text-center
      h1 TITLE GOES HERE
    .row
      .col-xs-3.text-center
        h hello world
      .col-md-9.text-center
        form(name="youtube", placeholder="Put A Youtube Link Here", method="get")
        input(type="text", id="link")
        i(class="glyphicon glyphicon-plus")
        .youtube
          

script(src="/js/jquery-1.11.2.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/index.js")
